.initialAnswer {
    color: black;
}
.correctAnswer {
    background-color: green;
}

.wrongAnswer {
    background-color: red;
}

.show {
    display: inline;
}
.hide {
    display: none;
}
.main {
    text-align: center;
}
.numInput {
    width: 25px;
}